extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= name

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | If you couldn't tell I a Full Stack Javascript Developer, I create websites and apps 😀. 
            | I love being able to build things through code. I'm always looking for ways to build sites or apps that people can use, share and love.
            | I'm close to completing team treehouse FSJS techdegree and many other free resources in the name of being able to build things better and faster. 
            | Remember, A good programmer is someone who always looks both ways before crossing a one-way street. -Doug Linder
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li NodeJS & NPM
          li MongoDB
          li MySQL
          li React
          li Express & RESTful API's
          li Git & GitHub
          li JQuery
        h6 Contact Info

        ul
          li 905-244-1234
          li lucanf@email.com

        a.button.expanded(href='https://www.linkedin.com/in/lucan-fraser-28941765/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/LuCAN7' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/Lu_is_King' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  