extends layout.pug

block content
  div.grid-container.error-message 
    hr
    img(src=`/static/img/page_not_found.png`)

    h2 Uh oh! Page Not Found.
      p The page you requested could not be found. Please ensure the URL entered is typed in correctly.
    br
    hr
    a(href='/') â† Back